.main {
    padding-top: 45px;
    padding-bottom: 200px;
    background-color:#f6f3f3;

    &-active{
        padding-top: 45px;
        opacity: 0.3;

    }


    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-bottom: 39px;
        font-size: 24px;
        font-weight: 700;
        color: #343030;
    }
}